@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap'); */
body::selection {
    background-color: #9D4EDD;
    color: #E7DFDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primary {
    color: #9D4EDD;
}

.highlight {
    color: #E7DFDD;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0E0B16;
    /* background-color: #fff; */
    /* min-height: 1000vh; */
    /* Vertical scroll snap */
}

/* .mandatory-scrolling {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}
.mandatory-scrolling::-webkit-scrollbar {
    display: none;
} */

.self {
    justify-self: start;
    align-self: start;
}

body::-webkit-scrollbar {
    display: none;
}

.shadow {
    backdrop-filter: blur(4px);

}

#root {
    max-width: 1300px;
    margin: auto;
    padding-x: 20px;
}

.scroll {
    scroll-snap-align: Center;
}

.overlay-container {
    /* Position fixed to cover the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* A semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* This is the key part - a very high z-index */
}

.overlay-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}
textarea::-webkit-scrollbar{
    width: 0;
}
.mainapp{
    overflow-x: hidden;
}